<div>
  <div class="choices-backdrop" ng-click="close()" ng-if="show">
  </div>
  <div class="choices-menu" ng-if="show">
    <input type="text" ng-model="q" focus-on="{{show}}">
    <ul class="animate-repeat-container no-bullet">
      <li ng-repeat="choice in choices | filter:q | slice:from:to" ng-class="{active: choice.name == ngModel}" class="animate-repeat" ng-click="chooseAndClose(choice)">{{choice.name}}<i ng-show="choice.name == ngModel" class="icon-ok"></i></li>
    </ul>
  </div>
</div>