<div class="pure-u-1">
  <header class="header">
    <h1>Journey <span>a live countdown to your TFL journey</span></h1>  
  </header>
  <div class="content">
    <form class="pure-form" ng-submit="getJourneyInfo()">
      I'd like to travel from
      <input ng-model="journey.origin" ng-click="showPopout = !showPopout" ng-init="showPopout = false">
      <div ng-if="showPopout">
        <popout-choice things="stations" choice="journey.origin"></popout-choice>
      </div>
      to
<!--       <input name="to" ng-model="journey.to" popout-choice things="stations">
      <br/>
      <input name="date" ng-model="journey.date" popout-choice things="days">
      <input name="by" ng-model="journey.by" popout-choice things="hours"> -->
      <div>
        <button type="submit" class="pure-button pure-button-primary">Start Journey</button>
      </div>
    </form>
  </div>
</div>